<template name="infoHelp">

  <h2 class="text-center">
    There's a first time for everything, {{profile.firstName}}
  </h2>

  <p class="lead">
    To get started, install the bookmarklet to make sharing a snap.
    Togetherly is better when you do it with friends, so invite a few.
    They'll see what you share and you can see what they share -- all in real time.
  </p>

  <h1 class="text-center">
    <a class="btn btn-success" href="{{pathFor 'usersInvite'}}">Invite Friends</a>
    <a class="btn btn-info" href="{{pathFor 'infoBookmarklet'}}">Add the Bookmarlet</a>
  </h1>

  <hr/>

  <div  class="text-center">
    <h3>Spare change for server costs?</h3>
    <a target="_blank" class="coinbase-button" data-code="54b56394f1a9b98747d4eeb7550e8ccc" data-button-style="donation_large" href="https://coinbase.com/checkouts/54b56394f1a9b98747d4eeb7550e8ccc"><img alt="Donate Bitcoins" src="http://coinbase.com/assets/buttons/donation_large-6ec72b1a9eec516944e50a22aca7db35.png"></a><script src="https://coinbase.com/assets/button.js" type="text/javascript"></script>

    <p class="lead ptm">
      Made with love by <a class="clickable-link" href="http://ptb.io">ptb.io</a>.
    </p>
  </div>

</template>