<template name="home">

  <h3 class="text-center">
    Share links with friends
  </h3>

  <p class="lead">
    Togetherly is better when you do it with friends. Invite a few to follow what they share and to see what you save. Togetherly is real-time, so things will update as your friends add stuff throughout the day -- keep a look out for distractions!
  </p>

  <h1 class="text-center">
    <a class="btn btn-success" href="{{pathFor 'usersNew'}}">Join Now</a>
    <a class="btn btn-info" href="{{pathFor 'sessionsNew'}}">Login</a>
  </h1>


</template>