<p>
  {{toName}}, {{fromName}} has something to share!
</p

{{#if comment.comment}}
  <p>
    {{comment.comment}}
  </p>
{{/if}}

<p>
  View more and reply here:
</p>

<p>
  {{authorizedPostUrl}}
</p>

<p>
--<br/>
Sent with love via togetherly.org
</p>