<template name="postsEdit">
  <form role="form">

    <input type="hidden" name="source" value="{{source}}">

    <div class="form-group">
      <input name="url" type="text" value="{{url}}" class="form-control" placeholder="example.com" autofocus>
    </div>

    <div class="form-group">
      <input type="text" class="form-control" name="emails" placeholder="Enter one or more email addresses"></input>
    </div>

    <div class="form-group">
      <input type="text" class="form-control" name="comment" placeholder="Enter an optional comment"></input>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>

  </form>
</template>