<template name="postsEdit">

  <h3 class="text-center">
    Share a link with friends
  </h3>

  <form role="form">

    <input type="hidden" name="source" value="{{source}}">

    <div class="form-group">
      <input name="url" type="text" value="{{url}}" class="form-control" placeholder="example.com" autofocus>
    </div>

    <div class="form-group">
      {{inputAutocomplete settings class="form-control" placeholder="@ptb, dave@gmail.com" name="emails"}}
      <p class="help-block">Start with @ to search existing friends. Otherwise invite friends by email.</p>
    </div>

    <div class="form-group">
      <input type="text" class="form-control" name="comment" placeholder="a fantastic site"></input>
    </div>

    <button type="submit" class="btn btn-success">Save &amp; Share</button>

  </form>

  {{#if suggestBookmarklet}}
    <p class="text-center text-muted">
      Share things with ease: <a href="{{pathFor 'infoBookmarklet'}}">Add the Bookmarlet</a>
    </p>
  {{/if}}

</template>