<template name="usersLoggedIn">
  {{#if loggingIn}}
    <li><a>Logging in...</a></li>
  {{else}}
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <img class="img-rounded small" src="{{gravatarImageUrl}}" title="{{username}}"/>
      </a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">

        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="{{pathFor 'usersHome'}}">
            <i class="glyphicon glyphicon-heart"></i>
            My Links
          </a>
        </li>

        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="{{pathFor 'usersFriends'}}">
            <i class="glyphicon glyphicon-user"></i>
            Friends
          </a>
        </li>

        <li role="presentation" class="divider"></li>

        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="{{pathFor 'infoHelp'}}">
            <i class="glyphicon glyphicon-question-sign"></i>
            Help
          </a>
        </li>

        <li role="presentation">
          <a data-ref="logout" role="menuitem" tabindex="-1" href="#">
            <i class="glyphicon glyphicon-off"></i>
            Logout
          </a>
        </li>

      </ul>
    </li>
  {{/if}}
  <li>&nbsp;</li>
</template>