img.small {
  width: 25px;
}

.block {
  display: block !important;
}

.inline-block {
  display: inline-block !important;
}

.comment--list-item {
  padding: 5px 0 5px 0;
}

.post--lead {
  margin-bottom: 15px;
}